
body {
    background-image: url(../images/seigaiha.png);
    height: 100%;
}
.quoteMachine {
    height: 100%;
    padding: rem(20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: rem(160px);

    h1 {
        font-size: rem(60px);
        font-family: 'Great Vibes', cursive;
    }

    button {
        background: skyblue;
        border: none;
        width: rem(180px);
        height: rem(40px);
        margin: rem(30px) auto;
        font-family: 'Courgette', cursive;
        font-size: rem(25px);
        border-radius: 5px;
        box-shadow: -3px 4px 10px 1px rgba(0,0,0,0.75);
    }

    .quote {
        border: 1px solid lightgray;
        padding: rem(15px);
        width: rem(600px);
        background: whitesmoke;
    }

    .quoteText {
        font-size: rem(24px);
        margin-bottom: rem(10px);
        font-family: 'Cinzel', serif;
    }

    .quoteAuthor {
        font-size: rem(30px);
        font-family: 'Courgette', cursive;
    }
}


@media  (max-width: 720px) {
    .quoteMachine {

        h1 {
            font-size: rem(45px);
        }
        button{
            font-size: rem(20px);
            margin: rem(15px) auto;
        }
        .quote{
            width: 80%;
            height: auto;
            margin-top: rem(8px);
            .quoteText {
                font-size: rem(18px);
            }
            .quoteAuthor{
                font-size: rem(22px);
            }
        }
    }
}

